@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-next{
    right: 15px !important;
    color:#1A2C5A !important ;
}
.slick-arrow{
    background-color: #1A2C5A  !important;
}
.slick-prev{
    left: 10px !important;


    
    color:#1A2C5A !important ;
}
.transition-transform {
    transition: transform 0.7s ease-in-out;
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }
  
  .translate-x-0 {
    transform: translateX(0);
  }
  
  .tabs {
    margin-top: 20px;
  }
  
  .tab-links {
    display: flex;
  }
  
  .tab-link {
    padding: 10px 15px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tab-link.active {
    border-bottom: 2px solid #1A2C5A; /* Active tab indicator */
    color: #1A2C5A; /* Change text color for active tab */
  }
  
  .tab-content {
    margin-top: 20px;
    
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
  }
  
  .carousel-item {
    min-width: 200px;
    margin-right: 20px;
  }
  